<div id="<%= dom_id place %>">
  <p>
    <strong>Mekan adı:</strong>
    <%= place.name %>
  </p>

  <p>
    <strong>Kategori:</strong>
    <%= place.category %>
  </p>

  <p>
    <strong>Açıklama:</strong>
    <%= place.description %>
  </p>

  <p>
    <strong>WiFi puanı:</strong>
    <%= place.wifi_score %>
  </p>

  <p>
    <strong>Sessizlik puanı:</strong>
    <%= place.quiet_score %>
  </p>

</div>
